.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient {
  background-color: #fffcf5;
  background-image: linear-gradient(180deg, #fffcf5 0%, #f5c84c 25%);
}

.backgroundImage {
  background-image: url("https://images.builderservices.io/s/cdn/v1.0/i/m?url=https%3A%2F%2Fstorage.googleapis.com%2Fproduction-globat-v1-0-8%2F588%2F1131588%2FngmaaRjy%2Ff746023d298d490da6e3bd5330414fbe&methods=resize%2C1000%2C5000");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.backgroundColor {
  background-color: rgb(245, 200, 76, 0.3);
}